<div class="container">
    <h2>{{title}}</h2>

    <!-- Mensaje en caso de que se envie agregue bien el proyecto -->
    <div class="message success" *ngIf="status == 'success'">
        El jugador se ha guardado correctamente, puedes <a [routerLink]="['/jugador', saveJugador.id]">Verlo aqui</a>
    </div>

    <div class="message failed" *ngIf="status == 'failed'">
        El jugador no se ha podido guardar!
    </div>

    <div class="message failed" *ngIf="status == 'img-failed'">
        No se pudo guardar la imagen del jugador!
    </div>

    <form #playerForm="ngForm" (ngSubmit)="onSubmit(playerForm)">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="jugador.name" required> <!-- [(ngModel)]="jugador.name" SIRVE PARA MODIFICAR LA PROPIEDAD DEL OBJETO -->
            <span class="form_error" *ngIf="name.touched && !name.valid">
                El nombre es obligatorio
            </span>
        </p>
        <p>
            <label for="posicion">Posicion</label>
            <textarea type="text" name="posicion" #posicion="ngModel" [(ngModel)]="jugador.position" required></textarea>
            <span class="form_error" *ngIf="posicion.touched && !posicion.valid">
                La posicion es obligatoria
            </span>
        </p>
        <p>
            <label for="years">Edad</label>
            <input type="number" name="years" #years="ngModel" [(ngModel)]="jugador.years" required>
        </p>
        <p>
            <label for="image">Imagen del proyecto</label>
            <input type="file" placeholder="Subir imagen" name="image" (change)="fileChangeEvent($event)"> <!-- Esto es para cuando ocurra un cambio en el input, mandamos ese metodo y la pasamos los eventos que tendran todos los datos que agarra el input, el fuchero elegido, el nombre, etc -->
        </p>

        <input type="submit" value="Enviar" [disabled]="!playerForm.form.valid"/>
    </form>

</div>


<!-- Creamos el formulario -->
