<h1>{{title}}</h1>
<input 
class="name-input" 
type="text" 
placeholder="Ingrese el nombre"
#txtSearch
(keyup)="onSearchPlayer(txtSearch.value)"
>
<div class="container-card">
    <div class="grid">
        <article *ngFor="let jugador of jugadores | filtro:search | paginate: { itemsPerPage: 3, currentPage: page } "  class="card">
            <img src="../../../assets/img/bg-card.svg" alt="" class="card-header">
            <div class="card-body">
                <img src="{{url+'get-image/'+jugador.image}}" alt="" class="card-body-img">
                <h2 class="card-body-title">{{jugador.name}}</h2>
                <p class="card-body-text">{{jugador.position}}</p>
            </div>
            <div class="card-footer">
                <div class="card-footer-social">
                    <h3>Edad</h3>
                    <p>{{jugador.years}}</p>
                </div>
                <div *ngIf="jugador.position !== 'Portero'" class="card-footer-social">
                    <h3>Goles</h3>
                    <p>{{jugador.goles}}</p>
                </div>
                <div *ngIf="jugador.position === 'Portero'" class="card-footer-social">
                    <h3>Salvadas</h3>
                    <p>{{jugador.saves}}</p>
                </div>
                <div class="card-footer-social">
                    <h3>Partidos</h3>
                    <p>{{jugador.partidos}}</p>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="container-pagination">
    <pagination-controls class="pagination" [responsive]="true" (pageChange)="page = $event" [responsive]="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>
