html{
    background: url('../img/boca-logo.png')no-repeat rgba(24, 10, 133, 1);
    box-sizing: border-box;
    background-position: center center;
}

body{
    position: relative;
    min-height: 100vh;
}

*, *:before, *:after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-nav{
    background: rgb(202,228,11);
    background: linear-gradient(90deg, rgba(202,228,11,0.8801645658263305) 26%, rgba(1,18,94,1) 50%);
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    height: 50px;
}

.header-nav ul{
    float: right;
    margin-right: 20px;
}

.header-nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.header-nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    background: #000090;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


/* Todo lo que esta dentro de article esta en flex */
h1{
    color: aliceblue;
}


/* FOOTER */

.footer{
    background-color: rgb(202,228,11);
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 1em 0;
    width: 100%;
}

/* RESPONSIVE */

@media (max-width: 952px) {
    .enlace{
        padding-left: 20px;
    }    
    .header-nav ul li a{
        font-size: 16px;
    }   
}

@media (max-width: 600px) {
    .checkbtn{
        display: block;
    }
    .header-nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(1,18,94,1);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .header-nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .header-nav ul li a{
        font-size: 20px;
    }
    li a:hover, li.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
}