<!-- <h1>{{title}}</h1> -->

<!-- <nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/jugadores">Jugadores</a>
</nav> -->
<!-- <header>
  <ul>
    <li><a routerLink='/home' [routerLinkActive]="['active']">Inicio</a></li>
    <li id ="logo"><a href="#">{{title}}</a></li>
    <li><a routerLink='/jugadores' [routerLinkActive]="['active']">Jugadores</a></li>
  </ul>
</header> -->

<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <a href="#" class="enlace">
    <img src="../assets/img/boca-logo.png" class="logo">
  </a>
  <ul>
    <li><a routerLink='/home' [routerLinkActive]="['active']">Inicio</a></li>
    <li><a href="#">{{title}}</a></li>
    <li><a href="#">Series</a></li>
    <li><a routerLink='/jugadores' [routerLinkActive]="['active']">Jugadores</a></li>
  </ul>
</nav>


  <router-outlet></router-outlet>