<h1>{{title}}</h1>
<main class="flex">
    <article *ngFor="let jugador of jugadores "  class="card">
        <img src="../../../assets/img/bg-card.svg" alt="" class="card-header">
        <div class="card-body">
            <img src="../../../assets/img/user.png" alt="" class="card-body-img">
            <h2 class="card-body-title">{{jugador.name}}<span> {{jugador.years}} </span></h2>
            <p class="card-body-text">{{jugador.description}}</p>
        </div>
        <div class="card-footer">
            <div class="card-footer-social">
                <h3>Edad</h3>
                <p>{{jugador.years}}</p>
            </div>
            <div class="card-footer-social">
                <h3>Goles</h3>
                <p>34</p>
            </div>
            <div class="card-footer-social">
                <h3>Partidos</h3>
                <p>15</p>
            </div>
        </div>
    </article>
</main>